@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    transition: all 400ms linear;
}

.container {

    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

.col-12 {
    width: 100%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-6 {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
}

.col-4 {
    width: 33.33%;
    padding-left: 12px;
    padding-right: 12px;
}

/* nav */


.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.justify-content-center {
    justify-content: center;
}

.justify-space-between {
    justify-content: space-between;
}

.text-center {
    text-align: center;
}

.linear-gradient {
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.price-bg {
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;

}

.position-relative {
    position: relative;
}

.z_1 {
    z-index: 1;
}

.head-elp {
    position: absolute;
    left: 17%;
    top: 46%;
    z-index: -1;
}

.px-15 {
    padding-left: 15px;
    padding-right: 15px;
}



.gap-12 {
    gap: 12px;
}

.pt-48 {
    padding-top: 48px;
}

.pt-25 {
    padding-top: 25px;
}

.mb-60 {
    margin-bottom: 60px;
}

.bg-img {
    background-image: url("../src/assets/images/head-img.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 80vh;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.mw_790 {
    max-width: 790px;
}

/* sec-1 */

.op-7 {
    opacity: 0.7;
}

.orange-gradient {
    color: linear-gradient #FD9B2B, #F14F09;
}

/* sec-2 */
.orange-btn {
    display: inline-flex;
    padding: 12px 37px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 30.5px;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
    border: 0;

}

.orange-btn:hover {
    background: linear-gradient(97deg, #F14F09 13.58%, #FD9B2B 86.99%);

}

.large-card {
    max-width: 972px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.sec-2-card {
    max-width: 293px;
    max-height: 293px;
    padding: 39px 18px;
    background: var(--white-F);
    border-radius: 8px;
    box-shadow: 0px 4px 66px 0px rgba(0, 0, 0, 0.04);
    transition: all .3s ease-in-out;
}

.pt-20 {
    padding-top: 20px;
}

.pb-10 {
    padding-bottom: 10px;
}

.svg-card {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
    box-shadow: 0px 4px 17px 0px rgba(255, 88, 110, 0.28);
}

.sec-2-card:hover {
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
}

.sec-2-card:hover p {
    color: var(--white-F) !important;

}



.mw-220 {
    max-width: 220px;
}

.sec-2-card:hover .color-black {
    color: var(--white-F);
}

.sec-2-card:hover .color-lightblack {
    color: var(--white-F);
}

.sec-2-card:hover .svg-card {
    background: var(--white-F);
}

.sec-2-card:hover svg path {
    fill: url("#paint0_linear_18848_2023");
}

.pt-50 {
    padding-top: 50px;
}

.w-100 {
    width: 100%;
}

/* contactus */
.flex-column {
    flex-direction: column;
}



.border-outline-none {
    outline: unset;
    border: none;
    width: 100%;
    border-bottom: 1px solid black;
}

.gap-30 {
    gap: 30px;
}

.gap-24 {
    gap: 24px;
}

.gap-15 {
    gap: 15px;
}

.pb-15 {
    padding-bottom: 15px;
}



.mt-30 {
    margin-top: 30px;
}



.mb-35 {
    margin-bottom: 35px;
}

.mw_370 {
    max-width: 370px;
}

.pb-35 {
    padding-bottom: 35px;
}

.py-15 {
    padding-bottom: 15px;
    padding-top: 15px;
}

.py-25 {
    padding-bottom: 25px;
    padding-top: 25px;
}

.ftr-line {
    border-top: 1px solid white;
    opacity: 0.7;
}

.pt-80 {
    padding-top: 80px;
}

.gap-50 {
    gap: 50px;
}

/* pricing */
.pricing-card {
    max-width: 540.052px;
    width: 100%;
    height: 542.553px;
    border-radius: 10p;
    background: var(--white-F);
    box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.06);
}

.price-card2 {
    max-width: 570.156px;
    width: 100%;
    height: 171.435px;
    flex-shrink: 0;
    border-radius: 10px;
    border: 1px solid #E8E8E8;
    background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%), #FFF;
}

.br-10 {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


.p-20 {
    padding: 20px;
}

/* footer */
.footer-bg {
    background-image: url("../src/assets/images/footer-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.px-10 {
    padding: 0 10px;
}

.mb-sm-30 {
    margin-bottom: 30px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mt-10 {
    margin-top: 10px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mt-40 {
    margin-top: 40px;
}




@media (min-width:7.8px) {
    nav ul li a {
        position: relative;
    }

    nav ul li ::before {
        content: '';
        position: absolute;
        background: var(--black-0);
        width: 0;
        border-radius: 25px;
        height: 3px;
        bottom: -6px;
        left: 50%;
        transition: all 400ms linear;
    }

    nav ul li a:hover::before {
        left: 0;
        width: 100%;
    }


}

.mw-440 {
    max-width: 440px;

}

.gap-25 {
    gap: 12px;
}

.resize_none {
    resize: none;
}

.mt-20 {
    margin-top: 20px;
}

.mt-sm-20 {
    margin-top: 20px;
}


@media (min-width:767.8px) {
    .col-lg-4 {
        width: 33.33%;
        padding-left: 12px;
        padding-right: 12px;
    }


    .col-md-6 {
        width: 50%;
        padding-left: 12px;
        padding-right: 12px;
    }

    .mw_430 {
        max-width: 430px;
    }

    .mb-md-30 {
        margin-bottom: 30px;
    }

    .gap-md-46 {
        gap: 46px;
    }

    .lh-150 {
        line-height: 150%;
    }

    .mt-md-110 {
        margin-top: 110px;
    }

    .mb-md-110 {
        margin-bottom: 110px;
    }

    .mb-75 {
        margin-bottom: 75px;
    }

    .mw_470 {
        max-width: 470px;
    }

    .lh-168 {
        line-height: 168%;
    }

    .px-md-40 {
        padding: 0 40px;
    }

    .ftr-ep-1 {
        position: absolute;
        left: -4%;
        top: 25%;
        width: 116.392px;
        height: 116.392px;
        flex-shrink: 0;
        background: var(--gray-1);
        border-radius: 50%;
    }

    .ftr-ep-2 {
        position: absolute;
        left: 6%;
        top: 75%;
        width: 26.664px;
        height: 26.664px;
        flex-shrink: 0;
        background: var(--gray-1);
        border-radius: 50%;
    }

    .ftr-ep-3 {
        position: absolute;
        right: 7%;
        top: 30%;
        width: 26.664px;
        height: 26.664px;
        flex-shrink: 0;
        background: var(--gray-1);
        border-radius: 50%;
    }

    .mt-10 {
        margin-top: 0;
    }

    .ftr-ep-4 {
        position: absolute;
        right: 10%;
        top: 44%;
        background: var(--gray-1);
        border-radius: 50%;
        width: 38.108px;
        height: 38.108px;
        flex-shrink: 0;
    }

    .sec-2-card:hover {
        background: linear-gradient(97deg, #FD9B2B 13.58%, #F14F09 86.99%);
        transform: translateY(-10%) !important;
    }

    .bg-img {

        min-height: 140vh;
    }

    .mt-sm-20 {
        margin-top: 0;
    }

}

@media (max-width:767.7px) {
    label[for="menuIcon"] {
        width: 30px;
        height: 22px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        z-index: 5;
        position: absolute;
        right: 2%;
        top: 6%;
    }

    label[for="menuIcon"]>span {
        width: 100%;
        height: 5px;
        background-color: var(--black-0);
        border-radius: 2px;

    }

    ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--white-F);
        position: fixed;
        top: 0;
        left: -100%;
        transition: all 500ms linear;
        display: none;
        z-index: 4;

    }

    input[type="checkbox"]:checked+ul {
        background-color: var(--white-F);
        display: flex;
        left: 0;
    }
}


:root {
    /* font size */

    --smallv: 9px;
    --small: 14px;
    --small1: 12px;
    --small2: 16px;
    --small3: 17px;
    --medium1: 21px;
    --medium2: 44px;
    --medium3: 30px;
    --large1: 35px;



    /* color */
    --white-F: #FFF;
    --white2: #fffcf6;
    --gray-1: #1c1c1c;

    --black-0: #000;
    /* fw */
    --fw-normal: 400;
    --fw-semibold: 600;
    --fw-l: 700;
    --fw-xl: 800;


    /* font-family */
    --ff-work: 'Work Sans', sans-serif;
}

/* font size */

.smallv {
    font-size: var(--smallv);
}

.small {
    font-size: var(--small);
}

.small1 {
    font-size: var(--small1);
}

.small2 {
    font-size: var(--small2);
}

.small3 {
    font-size: var(--small3);
}

.medium1 {
    font-size: var(--medium1);
}

.medium2 {
    font-size: var(--medium2);
}

.medium3 {
    font-size: var(--medium3);
}

.large1 {
    font-size: var(--large1);
}

/* fw */
.fw-normal {
    font-weight: var(--fw-normal);
}

.fw-semibold {
    font-weight: var(--fw-semibold);

}

.fw-l {
    font-weight: var(--fw-l);
}

.fw-xl {
    font-weight: var(--fw-xl);
}

/* color */
.white-F {
    color: var(--white-F);
}


.gray-1 {
    color: var(--gray-1);
}


.black-0 {
    color: var(--black-0);
}

/* ff */
.ff-work {
    font-family: var(--ff-work);
}



@media (min-width:576px) {
    :root {
        /* font size */

        --smallv: 12px;
        --small: 14px;
        --small1: 16px;
        --small2: 20px;
        --small3: 24px;
        --medium1: 40px;
        --medium2: 44px;
        --medium3: 48px;
        --large1: 62px;
    }

    .mt-sm-0 {
        margin-top: 0;
    }
}